:host {
  display: flex;
  flex-direction: column;
  height: 100%;
}

#wrapper {
  display: flex;
  overflow-x: hidden;
  overflow-y: auto;
  flex-direction: column;
  flex: 1;
  padding-top: 5%;
  padding-left: 2%;
}
